[user]
	name = Chris Eskow
	email = chriseskow@gmail.com
[color]
	diff = auto
	branch = auto
	status = auto
	interactive = auto
[core]
	editor = vim
	pager = less -FRX
	excludesfile = ~/.gitignore
[pager]
	log = less -FRSX
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	conflictstyle = diff3
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = false
[push]
	default = simple
[alias]
	s = status
	a = add --all
	ci = commit -v
	amend = commit -v --amend
	co = checkout
	b = branch --all
	d = diff
	ds = diff --stat
	dc = diff --cached
	dw = diff --word-diff=color
	l = log --all --date-order --oneline --graph --decorate
	lr = log --all --date-order --oneline --graph --decorate -25
	ll = log --all --date-order --graph --pretty='tformat:%C(yellow)%h %C(green)(%ar) %C(blue)%an%C(red)%d %C(reset)%s'
	head = log -1
[include]
	path = .gitconfig.local
