[user]
	name = Chris Eskow
	email = chriseskow@gmail.com
[color]
	diff = auto
	branch = auto
	status = auto
	interactive = auto
[core]
	editor = vim
	pager = less -FRX
	excludesfile = ~/.gitignore
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	df = diff
