[user]
	name = Chris Eskow
	email = chriseskow@gmail.com
[color]
	diff = auto
	branch = auto
	status = auto
	interactive = auto
[core]
	editor = vim
	pager = less -FRX
	excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = false
[alias]
	st = status
	aa = add --all
	ci = commit
	am = commit --amend
	co = checkout
	br = branch
	df = diff
	dc = diff --cached
	head = log -n 1
	tree = log --all --pretty=oneline --abbrev-commit --graph --decorate
	worddiff = diff --word-diff=color
